.body{
    margin:20px;
    padding: 20px;
    border: 2px solid gray;
    background-color: rgb(184, 224, 250);
},
.h1{
    color: teal
},
.container{
    box-sizing: border-box;
    max-width: 34rem;
    padding: 0 1rem;
    margin: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}